.padre {
  display: flex; /* Alinear horizontalmente */
  width: 100%; /* O el ancho deseado */
}

.hijo {
  flex: 1; /* Los hijos laterales ocupan el mismo espacio */
  background-color: lightgray;
  border: 1px solid #ccc;
}

.hijo-central {
  flex: 2; /* El hijo central es el doble de ancho que los otros */
  background-color: skyblue;
}

.carrusel-main {
     display: flex; /* Alinear horizontalmente */
  width: 1600px; /* O el ancho deseado */

}
/* alinear las flechas  en el medio del contendor */
.paginate-arrow{
    /* background-color: blue; */
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}